@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #f6f7fb;
    font-family: "Roboto", sans-serif;
}
.bg-image {
    background-image: url(./images/backgroundImg.png);
}
input:focus {
    outline: none;
}
.size-90 {
    width: 90px;
    height: 90px;
}
.shadow-custom {
    box-shadow: 0px 2px 4px 0px #0000000d;
}
@layer base {
    .anchor-colored a {
        color: #1e86ff;
    }
    .anchor-break a {
        width: 100%;
        word-wrap: break-word;
    }
}
